.logo
{
    text-align: center;
    /* top: 500; */
    position:relative;
    /* top: 70px; */
}
@font-face 
{
    font-family:"Zen";
    src: url(font/ZenKurenaido-Regular.ttf) format("truetype");
}
.top
{
    font-family: "Zen";
    font-size: 30px;
    position:fixed;
}
.top, .top li, .top ul
{
    /* display: inline-block; */
    margin-block-start: 4%;
    list-style-type: none;
    text-align: left;
}
header
{
    text-align: center;
}
.top a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5);
    text-decoration-line: none;    
}
nav a:hover
{
    color: tomato;
}
.titre
{
    color: rgb(212, 180, 37);
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    position: relative;
    top: 100; 
}
body
{
    background-image: url(img/Pont\ forêt.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
}
.texte1
{
    text-align: justify;
    color: whitesmoke;
    max-width: 650px;
    position: relative;
    top: 140;
    left: 620;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: rgba(128, 128, 128, 0.288);
}
footer
{
    position: fixed;
    /* float: right; */
    bottom: 10px;
    left: 627;
    text-align: center;

}
.menu2
{
    background-color: rgb(83, 59, 22);
    background-size: 300px 10px;
    width: 612;
    height: 50px;
}
.bot
{
    /* float: right; */
    font-family: "Zen";
    font-size: 30px;
}
.bot a:hover
{
    color: yellowgreen;
}
.bot, .bot li, .bot ul
{
    display: inline-block;
}
.bot a {
    color: #c7c7c7;
    text-decoration-line: none;
}
.testimg
{
    float: right;
    border: 7px solid rgba(128, 128, 128, 0);
}
