body 
{
    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}    
h2
{
    color: rebeccapurple;
}
.ass 
{
    color: red;
}
.sse
{
    color: white;
    text-align: right;
}
.testspan
{
    color: yellow;
}
*
{
    font-size: medium;
}

@font-face {
    font-family: "din";
    src: url("font/AlexBrush-Regular.ttf") format("truetype");
  }

*
{
    font-family: 'din', cursive;
}

div 
{
    margin: auto;
    text-align: center;
    max-width: 200px;
    max-height: 100px;
    font-family:'Times New Roman', Times, serif;
    border: 3px solid;
    border-width: medium;
    border-radius: 2px;
    border-color: brown;
    border-block-color: rgb(122, 49, 49);
    box-shadow: 6px 6px 0px darkorchid;
    overflow: auto;
}

.image
{
    float: right;
}
.dessous
{
    clear: both;
}
.img2
{
    float: right;
    max-width: 280px;
    opacity: 0.5;
}
.texte:hover
{
   color: deeppink;
}
.texte:active
{
    background-color: deeppink;
}
h2:focus
{
    background-color: rgb(85, 57, 150);
}