.search
{
    display: flex;
    padding-top: 15;
}
.fa-map-marker-alt
{
    background-color: var(--color3);
    border: 1px solid var(--color3);
    border-width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 16.5px 19px;
}
.barre
{
    width: 234px;
    height: 51px;
    border: none;
    border-top: 1px solid var(--color3);
    border-bottom: 1px solid var(--color3);
    font-size: 1rem;
    font-weight: 600;
    padding-left: 20px;
}
.button
{
    width: 130px;
    height: 51px;
    background: var(--color1);
    color: white;
    font-size: 100%;
    font-weight:900;
    padding: 8px;
    border: 1px solid var(--color1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fa-search
{
    display: none;
}
.button:hover
{
    cursor: pointer;
}
.filter h3
{
    margin-right: 10px;
    
}
.filter
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    align-items: baseline;
    
}
.filter button
{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid var(--color3);
    border-bottom-right-radius: 50px ;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 0 20px 0 0;
    margin-left: 15;
    font-weight: 700;
    font-size: 15px;
}
.filter button:hover
{
    background-color: var(--color1);
    color: white;

}
.filter button i
{
    background-color: var(--color2);
    color: var(--color1);
    width: 20;
    height: auto;
    border-bottom-right-radius: 50px ;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-color: rgba(255, 255, 255, 0);
    margin-right: 10px;
    margin-left: -2;
    align-items: center;
    justify-content: center;
    padding: 10;
}





/* TEST MEDIA QUERIES */

@media all and (max-width: 992px)
{
    #search
    {
        margin: 90px 5px 5px 5px;
    }
    .search .button 
    {
        display: block;
        width: 51px;
        height: 51px;
    }
    .search .button span
    {
        display: none;
    }
    .search .button .fa-search 
    {
        display: block;
    }
    .filter 
    {
        padding: 0 10px 0 20px;
    }
    .filter button 
    {
        margin: 0 10px 12px 0;
        font-size: 0.9rem;
    }
    .filter h4
    {
        flex-basis: 100%;
        padding-bottom: 10px;
    }
}

@media all and (min-width: 320px) and (max-width: 768px) 
{
    .filter
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
