.fa-info
{
    font-size: 12px;
    border: 2px solid var(--color3);
    border-radius: 50%;
    padding: 10px;
    color: var(--color1);
    background-color: white;
    width: 8;
    height: 8;
    text-align: center;
}
.plus-de-logements-dispo
{
    margin-bottom: 20px;
}

.cannebiere
{
    background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.port 
{
    background-image: url(../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.mouettes 
{
    background-image: url(../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.hotelmer 
{
    background-image: url(../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.panier 
{
    background-image: url(../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.amina 
{
    background-image: url(../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.imgc 
{
    width: 98%;
    height: 114px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#results
{
    display: flex;
    justify-content: space-between;
}
.results
{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    border-radius: 3%;
    width: 62%;
    padding: 25px;
    background-color: var(--color3);
}
#results p
{
    font-size: 14px;
}
.containerresults
{
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
}
.resultscadres
{
    display: flex;
    width: 30%;
    height: 180;
    margin: 10px 0;
    padding: 5px 0px 10px 5px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 25%);
}
.resultscadres:hover, .resultscadrespop:hover
{
    box-shadow: 0px 0px 13px 0px rgb(255 255 255 / 25%);
    background-color: var(--color2);
}
.card
{
    position: relative;
    top: 115;
    padding: 5 5 5 7;
}
.card p
{
    margin: 6px 0;
}
.star
{
    font-size: 18px;
}
.resultscadres a,
.resultscadrespop a
{
    text-decoration: none;
    color: black;
}
.afficherplus
{
    padding-top: 20px;
    text-decoration: none;
    color: black;
}
.afficherplus:hover
{
    color: var(--color1);
}
/***********************Les plus populaires*************************/
.soleilmatin
{
    background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    width: 155;
    background-position: center;
}
.coeureau
{
    background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    width: 155;
    background-position: center;
}
.bleublanc
{
    background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    width: 155;
    background-position: center;
}
.populaires
{
    border: 1px solid #F2F2F2;
    border-radius: 5%;
    width: 28%;
    padding: 25px;
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
}
.fleche
{
    margin: 1 0 ;
    display: flex;
    justify-content: space-between;
}
.populaires .fa-chart-line
{
    font-size: 140%;
    padding-top: 5;
}
.resultscadrespop
{
    display: flex;
    background-color: white;
    margin: 30 0 0 20;
    border-radius: 15px;
    max-width: 350;
    height: 134px;
    padding: 5px;
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 25%);
}
.imgpop
{
    display: flex;
    justify-content: space-between;
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.cardpop
{
    position: relative;
    flex-wrap: wrap;
    left: 160px;
    padding: 5px 10px 5px 5px;
    /* max-width: 150; */
}
.cardpop p
{
    margin: 10 0;
}
.star
{
    color: var(--color1);
    position: relative;
    top: -4px;
}
.grey
{
    color: var(--color3);
}
.pop
{
    position: absolute;
    top: 100px;

}
@media screen and (min-width: 1065px) and (max-width: 1220px) 
{
    .resultscadrespop
    {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (min-width: 975px) and (max-width: 1065px) 
{
    .resultscadres
    {
        width: 45%;
    }
    .containerresults
    {
        justify-content: space-evenly;
    }
    .results
    {
        width: 50%;
        margin-right: 30px;
    }
    .populaires
    {
        width: 40%;
    } 
}