#activites h2
{
    padding: 30px 0px 10px 0px;
}
.sectionactivites
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 445px;
    margin-top: 24px;
}
.card-activites
{
    border-radius: 10px;
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 25%);
}
.card-activites:hover
{
    box-shadow: 0px 0px 13px 0px rgb(255 255 255 / 25%);
}
.card-activites a
{
    text-decoration: none;
    color: black;
}
.card-activites a:hover
{
    color: var(--color1);
}
.vieux-port
{
    background-image: url(../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    height: 400;
}
.fort-pomegues
{
    background-image: url(../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    height: 180;
}
.iles-frioul
{
    background-image: url(../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    height: 110;
}
.national-calanques
{
    background-image: url(../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    height: 400;
}

.notre-dame-de-la-garde
{
    background-image: url(../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    height: 140;
}
.parc-longchamp
{
    background-image: url(../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    height: 160;
}
.cardimg
{
    width: 302px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-activites h4
{
    padding: 15 20;
}





/* TEST MEDIA QUERIES */




/* @media all and (max-width: 1200px)
{
    .activities h2 
    {
        padding-left: 20px;
    }
    .contentActivities 
    {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }
    .card-activity h4 
    {
        padding: 16.5px 22px;
    }
    .pic-activity 
    {
        width: 334px;
        height: 134px !important;
    }
    .activity-link 
    {
        margin: 12px 0;
    }
}
 
@media all and (min-width: 1024px) and (max-width: 1200px)
{
    .pic-activity 
    {
        width: 324px;
    }
}
 
@media all and (min-width: 768px) and (max-width: 1200px)
{
    .contentActivities 
    {
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
}
 
@media all and (min-width: 320px) and (max-width: 767px) 
{
    .pic-activity 
    {
        width: 318px;
    }
} */